.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Attendance-table {
  width: 60vw;
  max-height: 40px;
  border-collapse: collapse;
}
.Attendance-table-body {
  overflow-y: scroll;
}

.lower-table-border {
  border-collapse: collapse;
  border-bottom: 0.7px solid #b5b5b5;
}

.Attendance-table-name {
  width: 20vw;
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  cursor: pointer;
}
.Attendance-table-chip {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.App-link {
  color: #61dafb;
}
.table-attendance {
  height: max-content;
  max-width: 500px;
  margin: 20px;
}

.attendance-row-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.attendance-scroll-box {
  height: 120px;
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
